html,
body
{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #333;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo
{
  display: inline-block;
  opacity: .8;
  margin-bottom: 12px;
  padding-right: 12px;
}
.logo[href]:hover
{
  opacity: 1;
}
.message
{
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  max-width: 400px;
}
.message__title
{
  font-size: 22px;
  font-weight: 100;
  margin: 20px 0;
  color: #fff;
}
p
{
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.6);
}
.info_area
{
  position: fixed;
  bottom: 20px;
}
.info_area a
{
  display: inline-block;
  margin: 0 15px;
}
.info_area .fab
{
  font-size: 24px;
  color: #fff;
}
.info_area .fab:not(:hover)
{
  opacity: .4;
}
